@font-face {
    font-family: 'diablolight';
    src: url('diablo_light-webfont.woff2') format('woff2'),
         url('diablo_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.header__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3b0000;
    font-size: large;
}

a{
  transition: 0.5s;
}

a:link {
    color: #eacd36;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #eacd36;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #eacd36;
    background-color: #610808;
    border-radius: 5px;
    text-decoration: none;
    scale:1.1;
  }
  
  a:active {
    color: #eacd36;
    background-color: transparent;
    text-decoration: none;
  }

.card{
    background-color: #e3dac9;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    transition:0.5s;
}

.section--cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

body{
    background-color: #2b0303;
    font-family: 'diablolight';
}

.card:hover{
    scale:1.2;
    
}



