@font-face {
    font-family: 'diablolight';
    src: url('diablo_light-webfont.woff2') format('woff2'),
         url('diablo_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.header__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3b0000;
    font-size: large;
}

.header__link {
  transition: 0.5s;
}

.header__link:link {
    color: #eacd36;
    background-color: transparent;
    text-decoration: none;
  }
  
  .header__link:visited {
    color: #eacd36;
    background-color: transparent;
    text-decoration: none;
  }
  
  .header__link:hover {
    color: #eacd36;
    background: linear-gradient(to bottom, #610808, #3b0000);
    background-size: 120% 120%;
    border-radius: 5px;
    text-decoration: none;
    scale:1.1;
  }
  
  .header__link:active {
    color: #eacd36;
    background: linear-gradient(to bottom, #3b0000, #610808);
    text-decoration: none;
  }

.card{
    background-color: #e3dac9;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    transition:0.5s;
}

.card2{
  background-color: #e3dac9;
  font-size: larger;
  border-radius: 5px;
  width: calc(90vw);;
  transition:0.5s;
  padding: 10px;
  position: relative;
}

.section--cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

body{
    background-color: #2b0303;
    font-family: 'diablolight';
}

.card:hover{
    scale:1.2;  
}

.card2:hover{
    scale:1.05;
}

.hero_1{
    width: 100vw;
    height: auto; 
}



.article-image{
  float: left;
  margin-right: 20px;
}

.button {
  position: absolute;
  bottom: 10px;
  right: 10px;

}

.button:link {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

.button:visited {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

.button:hover {
  color: #000000;
  scale:1.1;
}

.button:active {
  color: #000000;
  text-decoration: none;
}

.button {
  transition: 0.5s;
}
.card{
  background-color: #e3dac9;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  transition:0.5s;
}